In [1]:
import pandas as pd

In [5]:
pd.read_csv('./clean_data/plant_star.csv')

,Unnamed: 0,shop_order,tool,mach_name,resin,total_pieces,start_time,end_time,number of entries
0,0,185642,R7024L,65-T310,RM171,78654.0,2019-01-02 10:12:53,2019-01-21 14:00:00,59.0
1,1,185463,R7450A,91-T180,RM171,4217217.0,2019-01-02 10:26:01,2019-01-13 18:00:01,20.0
2,2,185596,R7479C-Thin-Wall,54-H1100,RM165,16604.0,2019-01-02 14:00:00,2019-01-08 22:00:00,20.0
3,3,186266,R7036E-Thin-Wall,74-H650,RM129,1100.0,2019-01-02 14:00:00,2019-01-02 14:00:00,1.0
4,4,184693,R7605D,83-T390,RM171,147572.0,2019-01-02 14:00:00,2019-01-23 06:00:00,126.0
...,...,...,...,...,...,...,...,...,...
1400,1400,198636,R7028M-Thin-Wall,31-N500,RM171,14160.0,2021-11-24 22:12:13,2021-11-29 22:00:00,16.0
1401,1401,198680,R7413B,67-H800,RM165,4173.0,2021-11-25 05:43:38,2021-11-29 18:00:01,11.0
1402,1402,198666,R7463B,431-T310,RM129,7214.0,2021-11-29 07:53:28,2021-11-29 18:00:00,4.0
1403,1403,198762,R7027D-Thin-Wall,70-N400,RM129,8176.0,2021-11-29 17:33:28,2021-11-29 22:00:01,2.0
1404,1404,198691,R7026D,71-V300,RM171,8196.0,2021-11-29 17:33:32,2021-11-29 22:00:00,2.0